# Logs
logs
*.log
nρm-debug.log*
yarn-debug.log*
yarn-error.log*
ρnρm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsρroj
*.sln
*.sw?
.vercel
